---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2020&card[cvc]=191
    headers:
      Authorization:
      - Bearer sk_test_QvQjNczvJ1wKiAfbRt3GmPQT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16nEfMBxALhWw4cisULPnQnZ",
          "livemode": false,
          "created": 1442781848,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16nEfMBxALhWw4ciheMlrEXx",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "pDgfcsa0WXWcj3AA",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "24.185.234.30"
        }
  recorded_at: Sun, 20 Sep 2015 20:44:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_16nEfMBxALhWw4cisULPnQnZ
    headers:
      Authorization:
      - Bearer sk_test_QvQjNczvJ1wKiAfbRt3GmPQT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16nEfNBxALhWw4ciTphCVH9a",
          "object": "charge",
          "created": 1442781849,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 300,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16nEfMBxALhWw4ciheMlrEXx",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "pDgfcsa0WXWcj3AA",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16nEfNBxALhWw4ciwv6NcDcf",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16nEfNBxALhWw4ciTphCVH9a/refunds",
            "data": []
          }
        }
  recorded_at: Sun, 20 Sep 2015 20:44:09 GMT
recorded_with: VCR 2.9.3
