.row.item-row
  .col-sm-2
    %h6 Pricing Breakdown
  .col-sm-10.text-center
    .row
      .col-sm-6
        #buyer_pays.pricing-breakdown
          - if @listing.selling_price
            = number_to_currency @listing.selling_price
          - else
            $0.00
        %p.text-muted What buyer pays
      .col-sm-6
        #earnings.pricing-breakdown
          - if @listing.selling_price
            = number_to_currency(@listing.selling_price * 0.9)
          - else
            $0.00
        %p.text-muted What you make
        %span.text-muted *after Thrice's 10% fee