.item-row.text-center
  = f.submit 'Publish Listing', class: 'btn btn-info btn-lg'
  %p.m-t
    %span.text-muted
      By clicking "Publising Listing" you are agreeing to the
      = link_to 'Terms of Service.', ''