---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=1&card[exp_year]=2020&card[cvc]=191
    headers:
      Authorization:
      - Bearer sk_test_QvQjNczvJ1wKiAfbRt3GmPQT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16nEfPBxALhWw4ciYINJPhuV",
          "livemode": false,
          "created": 1442781851,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16nEfPBxALhWw4ciZ22mX4uR",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "huqVcNiZhZ4P0H68",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "24.185.234.30"
        }
  recorded_at: Sun, 20 Sep 2015 20:44:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_16nEfPBxALhWw4ciYINJPhuV
    headers:
      Authorization:
      - Bearer sk_test_QvQjNczvJ1wKiAfbRt3GmPQT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16nEfQBxALhWw4ciArCTmZjH"
          }
        }
  recorded_at: Sun, 20 Sep 2015 20:44:12 GMT
recorded_with: VCR 2.9.3
