%header#header.app-header.navbar{:role => "menu"}
  = render 'shared/top_header'
  #navbar_white.wrapper
    .navbar-header
      %button.pull-right.visible-xs{"data-target" => ".row-menu", "ui-scroll-to" => "app", "ui-toggle-class" => "off-screen"}
        %i.glyphicon.glyphicon-align-justify
    .row.collapse.pos-rlt.navbar-collapse.row-menu
      .col-sm-2
        %ul.nav.navbar-nav
          %a.navbar-brand.text-lt{:href => "/"}
            = image_tag('thrice-logo-test3.png')
      .col-sm-8
        %ul.nav.text-center
          - Category.all.each do |category|
            %li
              = link_to category.title, category
      .col-sm-2
        .pull-right
          %ul.nav.text-center
            %li.cart-text
              = render 'layouts/cart_text'