%header#header.app-header.navbar{:role => "menu"}
  = render 'shared/top_header'
  .wrapper
    .row.collapse.pos-rlt.navbar-collapse
      .col-sm-2
        %ul.nav.navbar-nav
          %a.navbar-brand.text-lt{:href => "/"}
            %img{:alt => "Logo", :src => "/assets/logo-dark.png"}
      .col-sm-8
        %ul.nav.text-center
          %li
            %a{:href => "#"} Suits
          %li
            %a{:href => "assets_path"} Shirts
          %li
            %a{:href => "#"} Pants
          %li
            %a{:href => "#"} Accessories
          %li
            %a{:href => "#"} Ties
          %li
            %a{:href => "#"} Shoes
      .col-sm-2
        .pull-right
          %ul.nav.text-center
            %li.cart-text
              = render 'layouts/cart_text'