.center
  %h1.m-b-lg How Thrice Works
  %p Sell what you have. Buy what you crave.
  %p Thrice makes it easy for you to buy, sell your premium clothes.
.row
  .col-sm-4
    %h5 Sell your unused clothes
    %p You can sell your premium clothes.
  .col-sm-4
    %h5 Buy premium clothes
    %p You can sell your premium clothes.
  .col-sm-4
    %h5 Earn money on every sale
    %p After your sale, Thrice will deduct 10% commission and you will receive your payment on PayPal after you ship.