.shopping-cart
  .center
    %h2 Shopping Cart
  .row
    .col-sm-12
      .shopping-cart
      = render 'shopping_cart'
    .col-sm-offset-8.col-sm-4
      %p Order Summary
      .row 
        .col-sm-6
          %p Subtotal
        .col-sm-6
          .pull-right
            %p= number_to_currency @current_cart.subtotal
      = link_to 'Checkout', checkout_path, class: 'btn btn-info btn-lg btn-block'
      Have a promo code?