.shopping-cart {
  h2 {
    padding: 10px 0 30px 0;
    margin:0;
  }
}
.cart-item {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
  .table {
    margin-bottom: 0;
    thead {
      font-size: 11px;
      text-transform: uppercase;
      color: #999;
      tr {
        th {
          padding: 8px 15px 8px 0;
          border-bottom: 1px solid #eaeaea;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 15px 15px 15px 0;
          color: #333;
          p {
            font-size: 11px;
            span {
              color: #999;
            }
          }
        }
        td.item-image {
          width:160px;
        }
      }
    }
  }
}