.checkout-header {
  padding: 5px;
  img {
    height: 25px;
  }
}
.checkout {
  label {
    text-transform: uppercase;
  }
  .checkout-details {
    padding: 0 100px;
  }
  form {
    label {
      font-size: 11px;
      margin-bottom: 2px;
    }
    .form-control {
      height:40px;
      border:2px solid #e2e2e2;
    }
    .shipping-address,
    .billing-info {
      h5 {
        text-align: center;
        margin: 0 0 30px 0;
      }
    }
    .billing-info {
      margin-top: 50px;
    }
  }
  ul {
    list-style:none;
    li {
      padding:5px 0px;
    }
    .total {
      padding: 30px 0;
      font-size: 20px;
    }
  }
}
.secure-checkout {
  text-align: center;
  padding:5px 0 2px;
  text-transform: uppercase;
  background: #efefef;
  color: #b7b7b7;
}
