.checkout-header {
  padding: 5px;
  img {
    height: 25px;
  }
}
.checkout {
  label {
    font-family: 'BrandonText_Bold';
    text-transform: uppercase;
  }
}
.secure-checkout {
  text-align: center;
  padding:5px 0 2px;
  text-transform: uppercase;
  font-family: 'BrandonText_Bold';
  background: #efefef;
  color: #b7b7b7;
}