@import "bootstrap";

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #d5641c;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}



.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}
.container {
  .jumbotron {
    background-color: #f5f5f5;
    border-radius: 0px;
    text-align: center;
    p {
      margin: 10px 0 10px 0;
      font-size:12px;
    }
  }
}
.modal-content {
  webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.modal-footer {
  border:none;
}







