.homepage {
  .nav li a {
    color: #fff;
  }
  .hero {
    h1 {
      font-size: 40px;
      color: #fff;
    }
    p {
      font-size: 12px;
      text-transform: uppercase;
      margin: 17px 0 21px;
    }
  }
}
.nav li a {
  padding: 15px 20px;
  font-weight: 500;
}
.main-image {
  background: image-url("bg-2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  height: 100%
}