.item-widget {
  font-family: 'BrandonText_Bold';
  img {
    margin-bottom:10px;
  }
  p {
    margin: 0 0 5px 0;
  }
  .item-price {
    p {
      color: #333;
    }
  }
  .item-title {
    font-size: 11px;
    text-transform: uppercase;
    color: #333;

  }
  .item-seller {
    font-size: 12px;
    span {
      color: #999;
    }
  }
}
.item-row {
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
  &:last-child {
    border-bottom: none;
  }
  h6 {
    color: #bdbdbd;
    font-size: 11px;
  }
  .pricing-breakdown {
    font-size: 40px;
    font-family: 'BrandonText'
  }
  span {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
  }
}
.product-listing {
  h2 {
    margin-bottom: 8px;
  }
  p {
    font-size: 12px;
  }
  .condition,
  .seller {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    span {
      color:#999;
    }
  }
  .seller {
    margin-bottom: 20px;
  }
  .price {
    margin: 20px 0 20px 0;
    font-family: 'BrandonText';
    color: #999;
  }
  .description {
    line-height: 23px;
    margin-bottom: 20px;
  }
  .btn {
    margin-bottom: 30px;
  }
}



























