@media (max-width: 767px) {
  #marketplace-tag {
    text-align: center;
  }
  #top-header-links {
    display: none;
  }
  .side-nav li{
    list-style-type: none;
    a {
      text-transform: capitalize;
    }
  }
}