@media (max-width: 767px) {
  .homepage {
    .hero h1 {
      font-size: 24px;
    }
  }
  #marketplace-tag {
    text-align: center;
  }
  #top-header-links {
    display: none;
  }
  .side-nav {
    padding: 30px;
    .fa-times {
      margin: 0px;
    }
    li{
      list-style-type: none;
      a {
        text-transform: capitalize;
      }
    }
  }
  footer {
    .mailing-list-form {
      padding:30px;
    }
    .footer {
      .footer-links {
        float: none;
        ul {
          float: none;
        }
      }
      .copyright {
        float: none;
        text-align: left;
      }
    }
  }
}