%aside#aside.app-aside.hidden-xs.bg-dark
  .aside-wrap
    .navi-wrap
      %nav.navi.clearfix{"ui-nav" => ""}
        %ul.nav
          %li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
            %span= link_to 'x', '#', id: 'close-menu'
          %li
            %a.auto{:href => ""}
              %span.pull-right.text-muted
                %i.fa.fa-fw.fa-angle-right.text
                %i.fa.fa-fw.fa-angle-down.text-active
              %i.glyphicon.glyphicon-stats.icon.text-primary-dker
              %span.font-bold Dashboard
            %ul.nav.nav-sub.dk
              %li.nav-sub-header
                %a{:href => ""}
                  %span Dashboard
              %li
                %a{:href => "index.html"}
                  %span Dashboard v1
              %li
                %a{:href => "dashboard.html"}
                  %b.label.bg-info.pull-right N
                  %span Dashboard v2
          %li
            %a{:href => "mail.html"}
              %b.badge.bg-info.pull-right 9
              %i.glyphicon.glyphicon-envelope.icon.text-info-lter
              %span.font-bold Email
          %li.line.dk
          %li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
            %span Components
          %li
            %a.auto{:href => ""}
              %span.pull-right.text-muted
                %i.fa.fa-fw.fa-angle-right.text
                %i.fa.fa-fw.fa-angle-down.text-active
              %b.badge.bg-info.pull-right 3
              %i.glyphicon.glyphicon-th
              %span Layout
