!!!
%html
  = render 'shared/head'
  %body.thrice
    .app.app-header-fixed
      = render 'shared/header'
      = render 'shared/flash'
      #content.app-content{:role => "main"}
        .app-content-body
          .hbox.hbox-auto-xs.hbox-auto-sm{"ng-init" => "\n            app.settings.asideFolded = false; \n            app.settings.asideDock = false;\n          "}
            / main
            .col
              .container.m-t-md
                = yield
              